@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

.main-body {
    height: 700px;
    background-size: cover;
    background-image: radial-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.8)),url(local-source/netflix_home_image.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

.navbar {
    height: 42px;
    padding: 24px 32px 24px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 50px;
}

.btn-signin {
    height: 31px;
    width: 75px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: 600;
    background-color: #E50914;
}

.main-content {
    height: 610px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 16px;
}

.main-titles {
    text-align: center;
}

.head-title {
    font-size: 3em;
}

.under-title {
    margin-top: 16px;
    font-weight: 400;
}

.third-title {
    margin-top: 24px;
}

.input {
    height: 36px;
    width: 342px;
    margin-top: 18px;
    padding: 8px 16px 8px 16px;
    background-color: rgba(30, 26, 26, 0.9);
    border: 0.5px solid rgb(187, 184, 184);
    color: white;
    border-radius: 5px;
    filter: opacity(80%);
    text-align: initial;
}

input::placeholder {
    font-size: 15px;
    color: #efe9e9;
}

.btn-emailadd {
    width: 207px;
    height: 53px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    background-color: rgb(229, 9, 20);
    position: relative;
    top: 3px;
    left: 2px;
    
}

@media (max-width:586px) {
    .btn-emailadd {
        margin-top: 5px;
    }
}

 /* .................... Section: Second ........................... */

.second-body {
    height: 589px;
    padding-top: 72px;
    padding-bottom: 72px;
    background-color: black;
    border-top: 9px solid #232323;
    box-sizing: border-box;
    display: flex;
}

.second-body-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 32px;
    margin-right: 32px;
}

.text-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    left: 30px;
    bottom: 9px;
}

.secondHtitle {
    color: white;
    font-weight: 900;
    font-size: 3rem;
    font-size: 45px;
}

.secondptext {
    margin-top: 16px;
    color: white;
    font-size: 22px;
}

.img-col {
    transform: scale(0.9);
    position: relative;
    left: 30px;
    bottom: 9px;
    z-index: 2;
}

.vid-col {
    position: absolute;
    right: 115px;
    top: 840px;
    z-index: 1;

}

/* .................... Section: Third ........................... */

.third-body {
    width: 100%;
    padding-top: 72px;
    padding-bottom: 72px;
    background-color: black;
    border-top: 9px solid #232323;
    box-sizing: border-box;
    display: flex;
}

.third-body-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 32px;
    margin-right: 32px;
}

.third-imgcol {
    transform: scale(0.9);
}

.third-textcol {
    color: white;
}

.thirdHtitle {
    font-weight: 900;
    font-size: 43px;
}

.thirdptext {
    margin-top: 16px;
    color: white;
    font-size: 20px;
}

.upperbanner {
    width: 350px;
    height: 88px;
    padding: 8px 12px 8px 12px;
    border: 2px solid grey;
    border-radius: 13px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 161px;
    top:1600px;
}

.gif {
    position: absolute;
    left: 280px;
    transform: scale(0.5);
}

.cover {
    transform: scale(0.4);
    position: absolute;
    bottom: -50px;
    left: -33px;
}

.upperheadings {
    position: absolute;
    left: 90px;
}

.u1 {
    font-size: 16px;
}

.p1 {
    font-size: 14px;
    color: #0071eb;
}

/* .................... Section: Fourth ........................... */

.fourth-body {
    background-color: black;
    padding-top: 72px;
    padding-bottom: 72px;
    border-top: 9px solid #232323;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fourth-body-container {
    width: 421px;
    height: 254px;
    margin-left: 184px;
    margin-right: 184px;
}

.fourth-body-titles {
    color: white;
}

.f4 {
    font-size: 3rem;
    font-weight: 700;
}

.p4 {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
}